.create-call-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateY(15%); /* Центрирование по вертикали */
}

.create-call-form h2 {
    text-align: center;
}

.create-call-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
}

.create-call-form input,
.create-call-form select,
.create-call-form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-call-form button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-call-form button:hover {
    background-color: #4cae4c;
}
