.header {
    display: flex;
    justify-content: space-between; /* Равномерное распределение элементов */
    align-items: center; /* Центрирование по вертикали */
    background-color: #bde5f8;
    padding: 10px 20px; /* Отступы слева и справа */
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box; /* Учитываем padding в ширине */
    z-index: 1000; /* Шапка всегда поверх */
}

.logo {
    width: 50px; /* Размер логотипа */
}

.nav-buttons {
    display: flex;
    gap: 20px; /* Отступы между кнопками */
}

.nav-buttons button {
    background-color: #f77;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.account-button {
    background-color: gray;
    color: white;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 20px; /* Центрируем текст внутри кнопки */
    cursor: pointer;
}
