.history-calls {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    transform: translateY(15%); /* Центрирование по вертикали */
}

.history-calls h2 {
    text-align: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters label {
    display: flex;
    align-items: center;
    gap: 10px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

p {
    text-align: center;
    font-size: 16px;
    color: #777;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button {
    background-color: #d9534f;
    color: white;
}

button:hover {
    background-color: #c9302c;
}
